body{
/* background-image: url("../image/art1.jpeg"); */
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-weight: normal!important;

}
h1{
  font-size: 30px;
  color:black;
}
 h2,h3{
   font-size: 25px;
   color: black;
 }
 p{
   font-size: 25px;
   color: black;
 }

